.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:5%;
}

.fileupload {
  justify-content: center;
  /*width: 400px;*/
}

#public-files {
  padding: 30%;
  margin: 30%;
  width: 60%;
}

.about {
  font-size: 0.8rem;
  color:white;
  margin-top: 2%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.card-out {
  margin-top: 0%;
  margin-bottom: 0%;
}

body {
    background-color: #EEEEEE;
}

#toggled {
  display: none;
}

#toggled:target {
  display: block;
}

#close {
  text-decoration: none;
  color: white;
}

.palette-box {
  float: left;
  width: 20%;
  height: 10%;
  text-align: center;
}

.palette-end {
  float: left;
  width: 20%;
  height: 10%;
  text-align: center;
  color:black;
  margin-bottom: 5%;
}