<html>
<head>
  <title>Fuwa.se</title>
  <link rel="stylesheet" href="../static/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../static/ss.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
  <script type="text/javascript" src="../static/jquery/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../static/materialize/js/materialize.min.js"></script>
  <script type="text/javascript" src="../static/upload.js" ></script>
  <div class="container" style="margin-top: 2%; margin-bottom: 1%;">

  <div id="afterthis" class="row center-align" style="margin-bottom: 0%;">
  <div class="col s12 l6 offset-l3 m8 offset-m2">
  <div class="fileupload">
    <div class="card blue-grey darken-1 z-depth-2">
      <div class="card-content white-text" style="padding-bottom: 0%;" id="dropzone">
        <span class="card-title" style="font-size: 3rem;">Fuwa.se</span>
        <p style="margin-top: 3%; margin-bottom: 3%;">Up to 50MiB of your data. Select a file or drag it into here.</p>
        <noscript>
        <p style="margin-top: 3%; margin-bottom: 3%;">Enable Javascript you neckbeard. It's not gonna hurt.</p>
        </noscript>
        <form class="center-block" method="POST" enctype="multipart/form-data" id="mainform">
          <span id="select-button" class="btn btn-default btn-file waves-effect waves-light teal darken-1">
            Select
            <input type="file" name="file[]" multiple id="files">
          </span>
          <span class="hide-on-med-and-up"><br/><br/></span>
          <button class="btn btn-file teal darken-1 waves-effect waves-light" type="submit" id="sub">Upload
          <i class="mdi-content-send right hide-on-small-only"></i></button>
          <br/>
		  <div id="fileDisplay" style="display:none;"  class="card-content grey-text">
			<p>File selected:</p>
		  </div>
          <a class="waves-effect waves-light btn-flat about" id="button-about" href="#toggled">About</a>
          <a class="waves-effect waves-light btn-flat about" href="/transparency">Transparency</a>
        </form>
      </div>
    </div>
    </div>
    </div>
    </div>

    <!-- MODAL BEGIN -->
    <div id="aboutmodal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>FAQ</h4>
          <ul>
            <li>Fuwa.se is a simple file hoster, inspired by pomf.se</li>
            <li>Files may be uploaded via the web interface or by sending a POST request to fuwa.se/api/upload with the file[] key.</li>
            <li>The max file size for now is 50 MiB, though this may increase later.</li>
            <li>You may use the short link or the long one with the same effect.</li>
            <li>Don't upload anything illegal, this includes malware and child porn.</li>
            <li>Executable files with certain extensions will not be allowed. See <a href="https://support.google.com/mail/answer/6590">this</a> article for reference.</li>
            <li>Viruses will be scanned for and removed on a regular basis</li>
            <li>To request the removal of a file, please email <a href=mailto:abuse@fuwa.se>abuse@fuwa.se</a></li>
          </ul>
          <br/>
          <h4>Contact</h4>
          <p>You can contact me via <a href=https://twitter.com/IdleActivities>Twitter</a> or <a href=mailto:luminarys@fuwa.se>email</a></p>
          <br/>
          <h4>GitHub</h4>
          <p>You can contribute to the project at <a href="https://github.com/Guad/fuwa">https://github.com/guad/fuwa</a>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
      </div>
    </div>
    <!-- MODAL END -->

    <noscript>
      <div class="row card-out" id="toggled" >
        <div class="col s12 l6 offset-l3 m8 offset-m2">
          <div class="card blue-grey darken-1 z-depth-2">
            <div class="card-content white-text">
              <h4>FAQ</h4>
              <ul>
                <li>Fuwa.se is a simple file hoster, inspired by pomf.se</li>
                <li>Files may be uploaded via the web interface or by sending a POST request to fuwa.se/api/upload with the file[] key.</li>
                <li>The max file size for now is 50 MiB, though this may increase later.</li>
                <li>You may use the short link or the long one with the same effect.</li>
                <li>Don't upload anything illegal, this includes malware and child porn.</li>
                <li>Executable files with certain extensions will not be allowed. See <a href="https://support.google.com/mail/answer/6590">this</a> article for reference.</li>
                <li>Viruses will be scanned for and removed on a regular basis</li>
                <li>To request the removal of a file, please email <a href=mailto:abuse@fuwa.se>abuse@fuwa.se</a></li>
              </ul>
              <br/>
              <h4>Contact</h4>
              <p>You can contact me via <a href=https://twitter.com/IdleActivities>Twitter</a> or <a href=mailto:luminarys@fuwa.se>email</a></p>
              <br/>
              <h4>GitHub</h4>
              <p>You can contribute to the project at <a href="https://github.com/Guad/fuwa">https://github.com/guad/fuwa</a>
            </div>
            <a class="waves-effect waves-light btn-flat noscript-button" href="#">Back</a>
          </div>
        </div>
      </div>
      </div>
    </noscript>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
             {% for message in messages %}
             <div class="row card-out">
                <div class="col s12 l6 offset-l3 m8 offset-m2">
                  <div class="card blue-grey darken-1 z-depth-2">
                    <div class="card-content white-text">
                      <h6 class="truncate">
                        <p>{{ message|safe }}</p>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

    </div>
</body>
</html>
